<div class="welcome-screen">
  <h1 style="text-transform: capitalize; padding-bottom:40px;">
    find and book</br>a great experience
  </h1>
  <div class="aircraft-wrapper">
    <%= image_tag asset_path('welcom-image.png'), alt: 'welcome-image', class: 'aircraft-image' %>
  </div>
</div>

<%= form_with model:@flight, url: flights_path, method: :get do |form|%>
  <section class="find-flights">
    <div class="flight-class">
      <div class="f-class">
        <p>Economy Class</p>
      </div>
      <div class="f-class">
        <p>Business Class</p>
      </div>
      <div class="f-class selected">
        <p>First Class</p>
      </div>
    </div>
    <div class="search-details">
      <div class="flight-detail">
        <%= image_tag "from.png", alt: 'from' %>
        <div class="sub-details">
          <%= form.label :depart_from, "Depart from:",class:"details-helper"%>
          <%= form.collection_select :depart_from, @airports, :id, :code, {prompt: "Travelling from?", selected:params[:depart_from]},
                    {class: "custom-dropdown"}%>
        </div>
      </div>
      <div class="flight-detail">
        <%= image_tag "to.png", alt: 'destination', class:"detail-icon" %>
        <div class="sub-details">
          <%= form.label :arrive_at, "Arrive at:", class:"details-helper" %>
          <%= form.collection_select :arrive_at, @airports, :id, :code, {prompt: "Travelling to?", selected:params[:arrive_at]},
                     {class: "custom-dropdown"} %>
        </div>
      </div>
      <div class="flight-detail">
        <%= image_tag "person.png", alt: 'person', class:'detail-icon'%>
        <div class="sub-details">
          <%= form.label :seats, "number of passangers:", class:"details-helper" %>
          <%= form.select :seats, options_for_select(1..4, selected:params[:seats]),{ prompt:"No of seats"}, {class:"custom-dropdown"} %>
        </div>
      </div>
      <div class="flight-detail">
        <%= image_tag "date.png", alt: 'date', class:"detail-icon" %>
        <div class="sub-details">
          <%= form.label :start_date, "Traveling Date:", class:"details-helper"%>
          <%= form.select :start_date, options_for_select(@flight_dates, selected:params[:start_date]),{ prompt: "Select Flight Date"}, {class:"custom-dropdown"} %>
        </div>
      </div>
    </div>
    <%= form.button(type: 'submit', class: 'search-btn btn') do %>
      <img src="<%= asset_path 'search.png' %>" alt="Search" style="width: 25px; height: 25px;">
      Search
    <% end %>
  </section>
<%end%>
<%= form_with url:new_booking_path, method: :get do |form|%>
  <%if @avail_flights != [] %>
    <section class="search-results">
      <% @avail_flights.each do |flight| %>
        <div class="flight-container"> <!--idnividual flight-->
          <div class="flight">
            <%= form.radio_button:flight_id, flight.id %>
            <div class="flight-info">
              <p class="sub-title">flight from</p>
              <p class="detail-info"><%= flight.departing_airport.code%></p>
            </div>
            <div class="flight-info">
              <p class="sub-title">flight to</p>
              <p class="detail-info"><%= flight.arrival_airport.code%></p>
            </div>
            <div class="flight-info">
              <p class="sub-title">Date</p>
              <p class="detail-info"><%= flight.start_date.strftime('%d %B %Y') %></p>
            </div>
            <div class="flight-info">
              <p class="sub-title">Duration</p>
              <p class="detail-info">1hr</p>
            </div>
            <div class="flight-info">
              <p class="sub-title">available seats</p>
              <p class="detail-info"><%= flight.seats%></p>
            </div>
          </div>
        </div>
      <%end%>
    </section>
    <%= hidden_field_tag :seats, params[:seats] %>
    <%= form.submit "select flight", class: "select-flight btn" %>
  <%else%>
    <% if @possible_flights != [] %>
      <h4 style="text-align:center;margin-top:40px;padding:20px 0;font-size:1.5em;">No flights found on selected day!</h4>
      <h5 style="text-align:center;font-size:1.3em">Other Dates</h5>
      <section class="search-results">
        <% @possible_flights.each do |flight| %>
          <div class="flight-container"> <!--idnividual flight-->
            <div class="flight">
              <%= form.radio_button:flight_id, flight.id %>
              <div class="flight-info">
                <p class="sub-title">flight from</p>
                <p class="detail-info"><%= flight.departing_airport.code%></p>
              </div>
              <div class="flight-info">
                <p class="sub-title">flight to</p>
                <p class="detail-info"><%= flight.arrival_airport.code%></p>
              </div>
              <div class="flight-info">
                <p class="sub-title">Date</p>
                <p class="detail-info"><%= flight.start_date.strftime('%d %B %Y') %></p>
              </div>
              <div class="flight-info">
                <p class="sub-title">Duration</p>
                <p class="detail-info">1hr</p>
              </div>
              <div class="flight-info">
                <p class="sub-title">available seats</p>
                <p class="detail-info"><%= flight.seats%></p>
              </div>
            </div>
          </div>
        <%end%>
        <%= hidden_field_tag :seats, params[:seats] %>
        <%= form.submit "select flight", class: "select-flight btn" %>
      </section>
    <%end%>
  <%end%>
<%end%>
<section class="random-words">
  <h5 style="text-transform: uppercase;font-size: 1em;text-align: center;">Travel support</h5>
  <h2 style="text-align: center; font-size: 2.5em;">Plan your travel with confidence</h2>
  <p style="color: grey;text-align: center;">Find help with your booking and travel plans and see what to expect along the journey</p>
</section>