<div class="welcome-screen">
  <h1 style="text-transform: capitalize;">find and book</br>a great experience</h1>
<img src="#" alt="" class="aircraft-image"><!--would have before action for aircraft background'-->
</div>
<%= form_with model:@flight, url: flights_path, method: :get do |form|%>
  <section class="find-flights">
    <div class="flight-class">
      <div class="f-class">
        <p>Economy Class</p>
      </div>
      <div class="f-class">
        <p>Economy Class</p>
      </div>
      <div class="f-class">
        <p>Economy Class</p>
      </div>
    </div>
    <div class="search-details">
      <div class="flight-detail">
        <%= image_tag 'from', alt: 'from' %>
        <div class="sub-details">
          <%= form.label :depart_from, "Depart from:",class:"details-helper"%>
          <%= form.collection_select :depart_from, @airports, :id, :code, {prompt: "Travelling from?", selected:params[:depart_from]},
                    {class: "custom-dropdown"}%>
        </div>
      </div>
      <div class="flight-detail">
        <%= image_tag "to", alt: 'destination', class:"detail-icon" %>
        <div class="sub-details">
          <%= form.label :arrive_at, "Arrive at:", class:"details-helper" %>
          <%= form.collection_select :arrive_at, @airports, :id, :code, {prompt: "Travelling to?", selected:params[:arrive_at]},
                     {class: "custom-dropdown"} %>
        </div>
      </div>
      <div class="flight-detail">
        <%= image_tag 'person', alt: 'person', class:'detail-icon'%>
        <div class="sub-details">
          <%= form.label :seats, "number of passangers:", class:"details-helper" %>
          <%= form.select :seats, options_for_select(1..4, selected:params[:seats]),{ prompt:"No of seats"}, {class:"custom-dropdown"} %>
        </div>
      </div>
      <div class="flight-detail">
        <%= image_tag 'date', alt: 'date', class:"detail-icon" %>
        <div class="sub-details">
          <%= form.label :start_date, "Traveling Date:", class:"details-helper"%>
          <%= form.select :start_date, options_for_select(@flight_dates, selected:params[:start_date]),{ prompt: "Select Flight Date"}, {class:"custom-dropdown"} %>
        </div>
      </div>
    </div>
    <%= form.button(type: 'submit', class: 'search-btn btn') do %>
      <img src="<%= asset_path 'search.png' %>" alt="Search" style="width: 25px; height: 25px;">
      Search
    <% end %>
  </section>
  <!-- <%= form.label :flight_query, "Search for: "%>
    <%= form.text_field :flight_query%> -->
  <%= form.label :depart_from, "Depart from:" %>
  <%= form.collection_select :depart_from, @airports, :id, :code, prompt: "Travelling from?", selected:params[:depart_from]%>
  <br>
  <%= form.label :arrive_at, "Arrive at:" %>
  <%= form.collection_select :arrive_at, @airports, :id, :code, prompt: "Travelling to?", selected:params[:arrive_at] %>
  <br>
  <br>
  <%= form.label :seats, "number of passangers: " %>
  <%= form.select :seats, options_for_select(1..4, selected:params[:seats]), prompt:"No of seats"%>
  <br>
  <%= form.label :start_date, "Traveling Date: "%>
  <%= form.select :start_date, options_for_select(@flight_dates, selected:params[:start_date]), prompt: "Select Flight Date" %>
  <br>
  <%= form.submit "Search"%>
<%end%>
<h4>available flights: </h4>
<%= form_with url:new_booking_path, method: :get do |form|%>
  <%if @avail_flights != [] %>
    <table>
      <tr>
        <th>Choose</th>
        <th>Flight</th>
        <th>Date</th>
        <th>avail_seats</th>
      </tr>
      <% @avail_flights.each do |flight| %>
        <tr>
          <td>
            <%= form.radio_button:flight_id, flight.id %>
          </td>
          <td>
            <%= flight.departing_airport.code%> to <%= flight.arrival_airport.code%>
          </td>
          <td>
            <%= flight.start_date.strftime('%Y-%m-%d')%>
          </td>
          <td>
            <%= flight.seats%> available seats
          </td>
        </tr>
      <%end%>
    </table>
    <%= hidden_field_tag :seats, params[:seats] %>
    <%= form.submit "select flight" %>
  <%else%>
    <% if @possible_flights != [] %>
      <h4>No flights found on selected day</h4>
      <h5>Other options</h5>
      <table>
        <tr>
          <th>Choose</th>
          <th>Flight</th>
          <th>Date</th>
          <th>avail_seats</th>
        </tr>
        <% @possible_flights.each do |flight| %>
          <tr>
            <td>
              <%= form.radio_button:flight_id, flight.id %>
            </td>
            <td>
              <%= flight.departing_airport.code%> to <%= flight.arrival_airport.code%>
            </td>
            <td>
              <%= flight.start_date.strftime('%Y-%m-%d')%>
            </td>
            <td>
              <%= flight.seats%> available seats
            </td>
          </tr>
        <%end%>
      </table>
      <%= hidden_field_tag :seats, params[:seats] %>
      <%= form.submit "select flight" %>
    <%end%>
  <%end%>
<%end%>
