<h2>Hello</h2>
<%= form_with model:@flight, url: flights_path, method: :get do |form|%>
  <!-- <%= form.label :flight_query, "Search for: "%>
    <%= form.text_field :flight_query%> -->
  <%= form.label :depart_from, "Depart from:" %>
  <%= form.collection_select :depart_from, @airports, :id, :code, prompt: "Travelling from?", selected:params[:depart_from]%>
  <br>
  <%= form.label :arrive_at, "Arrive at:" %>
  <%= form.collection_select :arrive_at, @airports, :id, :code, prompt: "Travelling to?", selected:params[:arrive_at] %>
  <br>
  <br>
  <%= form.label :seats, "number of passangers: " %>
  <%= form.select :seats, options_for_select(1..4, selected:params[:seats]), prompt:"No of seats"%>
  <br>
  <%= form.label :start_date, "Traveling Date: "%>
  <%= form.select :start_date, options_for_select(@flight_dates, selected:params[:start_date]), prompt: "Select Flight Date" %>
  <br>
  <%= form.submit "Search"%>
<%end%>
<h4>available flights: </h4>
<%= form_with url:new_booking_path, method: :get do |form|%>
  <%if @avail_flights != [] %>
    <table>
      <tr>
        <th>Choose</th>
        <th>Flight</th>
        <th>Date</th>
        <th>avail_seats</th>
      </tr>
      <% @avail_flights.each do |flight| %>
        <tr>
          <td>
            <%= form.radio_button:flight_id, flight.id %>
          </td>
          <td>
            <%= flight.departing_airport.code%> to <%= flight.arrival_airport.code%>
          </td>
          <td>
            <%= flight.start_date.strftime('%Y-%m-%d')%>
          </td>
          <td>
            <%= flight.seats%> available seats
          </td>
        </tr>
      <%end%>
    </table>
    <%= hidden_field_tag :seats, params[:seats] %>
    <%= form.submit "select flight" %>
  <%else%>
    <% if @possible_flights != [] %>
      <h4>No flights found on selected day</h4>
      <h5>Other options</h5>
      <table>
        <tr>
          <th>Choose</th>
          <th>Flight</th>
          <th>Date</th>
          <th>avail_seats</th>
        </tr>
        <% @possible_flights.each do |flight| %>
          <tr>
            <td>
              <%= form.radio_button:flight_id, flight.id %>
            </td>
            <td>
              <%= flight.departing_airport.code%> to <%= flight.arrival_airport.code%>
            </td>
            <td>
              <%= flight.start_date.strftime('%Y-%m-%d')%>
            </td>
            <td>
              <%= flight.seats%> available seats
            </td>
          </tr>
        <%end%>
      </table>
      <%= hidden_field_tag :seats, params[:seats] %>
      <%= form.submit "select flight" %>
    <%end%>
  <%end%>
<%end%>
