<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Flight Booker: Rails application to manage flight bookings" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/paper_plane.png" type="image/png">
    <!--<link rel="icon" href="/icon.svg" type="image/svg+xml">-->
    <link rel="apple-touch-icon" href="/icon.png">
    <%= favicon_link_tag 'paper_plane.png', type: 'image/png' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag 'flights_booking', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav>
      <h3><%= link_to 'flightBooker', flights_path %>git add </h3>
      <ul class="nav-links">
        <li><a href="#">Github</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">LindkedIn</a></li>
      </ul>
      <button class="btn contact-snebo">Contact</button>
    </nav>
    <section class="main-content">
      <%= yield %>
    </section>
    <footer>
      <div class="contact-copyright">
        <p>Made with <strong> love </strong>by &copy; Nebo_Stefano</p>
      </div>
      <%= image_tag 'theOP', alt: 'the odin project logo', class:"TOP-logo", height:"100px"%>
      <!--<img style="width: 100px; height: 100px;" src="#" alt="the odin porject" class="TOP-logo">-->
      <div class="contact-links">
        <div class="project-title">
          <%= image_tag 'plane', alt: 'plane', class: 'flight-logo', width:'40px', height:'40px' %>
          <h3>Flight Booker</h3>
        </div>
        <a href=""><%= image_tag 'twitter', alt: 'twitter', class:"contact-icon" %></a>
        <a href=""><%= image_tag 'whatsapp', alt: 'whatsapp', class:"contact-icon" %></a>
        <a href=""><%= image_tag 'mail', alt: 'email', class:"contact-icon" %></a>
        <a href=""><%= image_tag 'linkedin', alt: 'linkedin', class:"contact-icon" %></a>
      </div>
    </footer>
  </body>
</html>
